$active: #ff177f;

$tablet: 768px;

$redOrange: linear-gradient(
  135deg,
  rgba(222, 0, 63, 0.8),
  rgba(235, 74, 0, 0.8)
);

$purpleBlue: linear-gradient(
  135deg,
  rgba(148, 0, 222, 0.8),
  rgba(0, 176, 235, 0.8)
);
$greenBlue: linear-gradient(
  135deg,
  rgba(0, 222, 96, 0.8),
  rgba(0, 188, 235, 0.8)
);
