@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 2rem;
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

.social-links svg {
  font-size: 2rem;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.social-links svg:hover {
  color: #ff177f;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

nav .bar-wrapper {
  background-color: #fff;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h1 {
  margin: 0;
}

nav #hamburger {
  height: 20px;
  width: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  cursor: pointer;
}

nav #hamburger div {
  border: 2px solid #222;
  background-color: #222;
  border-radius: 4px;
}

nav #hamburger.open {
  background-color: #1e1f26;
}

nav #hamburger.open div {
  border-color: #fff;
}

nav #nav-content {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s ease;
  transition: height 0.4s ease;
  background-color: #272832;
  position: relative;
}

nav #nav-content.open {
  height: 15rem;
}

nav #nav-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 300;
}

nav #nav-content ul li {
  display: block;
  margin: 15px 0;
}

nav #nav-content ul li.active {
  color: #ff177f;
}

nav #nav-content ul li .social-links svg {
  margin-right: 1rem;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  opacity: 0;
  z-index: 0;
  background-position: 0% 0%, 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.slider .slide .inner-wrapper {
  margin: 0 1rem;
  color: #fff;
  font-weight: 300;
}

.slider .slide.active {
  opacity: 1;
  z-index: 1;
}

.slider .navigation-arrows {
  position: absolute;
  width: 100%;
  top: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  z-index: 2;
  padding: 0 10px;
  font-size: 1.3rem;
}

.slider .navigation-arrows svg {
  opacity: 0.5;
}

.slider .navigation-arrows svg:hover {
  opacity: 1;
}

.slider .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem auto;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider .controls div {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0 3px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.slider .controls div.active {
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .slider .controls div {
    width: 12px;
    height: 12px;
    margin: 0 6px;
  }
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content-wrapper {
  margin-top: 50px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: auto;
  }
}

.center {
  display: block;
  margin: auto;
}

.padded {
  padding: 2rem 10px;
}

.gray-section {
  background-color: #ededed;
  padding: 2rem 10px;
  font-size: 0.95rem;
}

.gray-section h2 {
  color: dimgray;
}

.gray-section p {
  color: dimgray;
}

@media only screen and (min-width: 768px) {
  .gray-section {
    padding: 5rem 10px;
  }
}

.go-back {
  opacity: 0.5;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.go-back:hover {
  cursor: pointer;
  opacity: 1;
}

.button-primary {
  padding: 0.7rem 1.1rem;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: 2px solid #fff;
  font-size: 1.1rem;
  font-weight: 400;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.button-primary:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
  border-color: #111;
}

.button-primary.inverted {
  color: #000;
  border-color: #000;
}

.button-primary.inverted:hover {
  color: #ff177f;
  border-color: #ff177f;
}

.hero {
  height: 315px;
  position: relative;
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.hero .rolling-text {
  background-color: rgba(255, 255, 255, 0.2);
}

.hero .buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  margin-top: 2rem;
}

.hero .buttons button {
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  margin-right: 14px;
  border-radius: 30px;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .introduction-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    margin-bottom: 5rem;
  }
  .introduction-wrapper p {
    padding: 0;
    margin: 0;
  }
}

#technologies {
  margin: 2rem 0;
}

#technologies h2 {
  margin-bottom: 2rem;
  text-align: center;
}

#technologies .tech-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  row-gap: 2rem;
  max-width: 100%;
}

#technologies .tech-grid figure {
  margin: 0;
  height: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#technologies .tech-grid figure img {
  width: 70px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#technologies .tech-grid figure img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#technologies .tech-grid figure figcaption {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  position: absolute;
  top: 90%;
  width: 100%;
  color: #111;
  margin-top: 1rem;
}

#projects {
  margin-top: 3rem;
}

#projects h2 {
  margin-left: 1rem;
}

#projects .projects-grid .project {
  height: 280px;
  display: inline-block;
  background-size: cover;
  background-position: 50% 50%;
  text-decoration: none;
  position: relative;
}

#projects .projects-grid .project h3 {
  color: #fff;
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 0 0.5rem;
}

#projects .projects-grid .project::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background: linear-gradient(135deg, rgba(222, 0, 63, 0.6), rgba(235, 74, 0, 0.6));
}

#projects .projects-grid .project:hover::before {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .projects-grid .project.quarter {
    width: 25%;
  }
  .projects-grid .project.third {
    width: 33.33%;
  }
  .projects-grid .project.half {
    width: 50%;
  }
  .projects-grid .project.two-thirds {
    width: 66.66%;
  }
}

.contact-form input:nth-child(odd) {
  background-color: #f7f7f7;
}

.contact-form textarea,
.contact-form input,
.contact-form button {
  font-size: 1.1rem;
  font-family: "Roboto";
  border: none;
  outline: none;
  font-weight: 300;
}

.contact-form textarea,
.contact-form input {
  padding: 0.8rem 0.75rem;
  border-left: 2px solid transparent;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

.contact-form textarea:focus,
.contact-form input:focus {
  border-color: #249cff;
}

.contact-form input {
  height: 3rem;
}

.contact-form textarea {
  height: 8rem;
}

.contact-form button {
  padding: 1.1rem 1.5rem;
  margin: -3px 0 0 0;
  background-color: #d1d1d3;
  color: #fff;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #249cff;
}

.banner {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%, 50% 50%;
}

.banner .inner-wrapper {
  position: relative;
  top: 3rem;
  margin: 0 1rem;
  color: #fff;
}

.banner .inner-wrapper h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: 10px 0;
}

.banner.slim {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 2rem 0;
}

.banner.slim .inner-wrapper {
  top: 0;
}

#project-gallery .projects-slider {
  position: relative;
  height: 250px;
  margin-left: -10px;
}

.projects-navigator div {
  border-bottom: 1px solid #ededed;
}

.projects-navigator div a {
  display: block;
  padding: 3rem 0.75rem;
  color: #bdbdbd;
  font-size: 1.5rem;
  font-weight: 300;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.projects-navigator div a:hover {
  color: #333;
}

footer {
  padding: 2rem 1.5rem;
  color: #c4c4c4;
  font-size: 1.3rem;
  text-align: center;
}

footer h4 {
  cursor: default;
}

footer .social-links svg {
  margin: 0 0.5rem;
  font-size: 1.5rem;
}
/*# sourceMappingURL=index.css.map */